/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #111;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #00d4ff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00d4ff;
}

.btn {
    padding: 8px 16px;
    border: none;
    background: #00d4ff;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #00aacc;
}

/* MAIN */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background: #f4f4f4;
    height: 100%;
}

canvas {
    border: 2px solid #ccc;
    border-radius: 10px;
    background: white;
}

/* FOOTER */
.footer {
    background: #111;
    color: white;
    padding: 40px 20px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer h3,
.footer h4 {
    margin-bottom: 10px;
    color: #00d4ff;
}

.footer ul {
    list-style: none;
}

.footer ul li {
    margin-bottom: 5px;
}

.footer ul li a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.footer ul li a:hover {
    color: #00d4ff;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #333;
    padding-top: 10px;
    font-size: 14px;
}
.main{
    display: flex;
    flex-direction: column;
}
.mainControls{
    padding: 10px;
    margin-bottom: 3px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    border: 3px solid gray;
}